body {
	font-family: Tahoma, Geneva, Verdana, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

p.lead {
	font-size: 1.125em;
}

.header {
	text-align: center;
	overflow: hidden;
	padding: 1em 0;
	border-bottom: 1px solid #ccc;
	margin-bottom: 1em;
}

.header h1 {
	position: relative;
	display: inline-block;
}

@media (min-width: 768px) {
	.header iframe {
		margin-left: .5em;
	}
}

.footer {
	padding: 2em 0;
	text-align: center;
	color: rgba(0, 0, 0, .5);
}

.section {
	margin-bottom: 2em;
}

.section-title {
	text-align: center;
}


.martin-slideshow {
	background: rgba(0, 0, 0, .25);
	max-width: 640px;
	margin: 0 auto;
}

.slide-content {
	padding: 60px 80px;
}

.martin-prev,
.martin-next {
	cursor: pointer;
	position: absolute;
	z-index: 100;
	top: 0;
	bottom: 0;
	width: 60px;
	font-size: 3em;
	text-align: center;
	text-shadow: 0 0 10px rgba(0, 0, 0, .75);
	-webkit-user-select: none;
	transition: background .2s, opacity .2s;
}

.martin-prev {
	left: 0;
}

.martin-next {
	right: 0;
}

.martin-prev span,
.martin-next span {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.control-light {
	color: #ccc;
}

.martin-prev:focus,
.martin-prev:hover,
.martin-next:focus,
.martin-next:hover {
	background: rgba(0, 0, 0, .15);
}

