body {
	padding-bottom: 90px;
	font-family: Tahoma, Geneva, Verdana, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

p.lead {
	font-size: 1.125em;
}

.page-header {
	margin-top: 30px;
	margin-bottom: 30px;
}

.title,
.section-title {
	margin-top: 2em;
	margin-bottom: 1em;
}


.martin-slideshow {
	background: rgba(0, 0, 0, .25);
	margin-bottom: 60px;
}

.martin-slide {
	padding: 60px 80px;
}


.martin-prev,
.martin-next {
	cursor: pointer;
	position: absolute;
	z-index: 100;
	top: 0;
	bottom: 0;
	width: 60px;
	text-align: center;
	font-size: 3em;
	-webkit-user-select: none;
	transition: background .2s, opacity .2s;
}

.martin-prev:focus,
.martin-prev:hover,
.martin-next:focus,
.martin-next:hover {
	background: rgba(0, 0, 0, .15);
}

.martin-control-inactive {
	cursor: default;
	opacity: 0;
	pointer-events: none;
}

.martin-prev span,
.martin-next span {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.martin-prev {
	left: 0;
}

.martin-next {
	right: 0;
}
